body{
    font-family: 'Roboto', sans-serif;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
}

.hidden{
    display: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgb(58, 58, 60);
    position: relative;
}

header img {
    height: 60px;
    border-radius: 5em;
}

header nav {
    display: flex;
    align-items: center;
}

header h1 {
    margin-right: 0;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    font-weight: bold;
}

header button {
    margin-left: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

header button:hover {
    background-color: #e0e0e0;
}

header button img {
    width: 20px;
    height: 20px;
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* MAIN BOARD*/
.board_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
    margin-bottom: .75em;
}

.board{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 350px;
    height: 420px;
}

.board_rows{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
}

.board_letters{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(58, 58, 60); 
    text-transform: uppercase;
    font-size: 1.65em;
    font-weight: bold;
}

.board_letters_wrongLetter{
    background-color: rgb(58, 58, 60);
    border: none;

}

.board_letters_wrongPlace{
    background-color: rgb(181, 159, 59);
    border: none;
}

.board_letters_correctPlace{
    background-color: rgb(83, 141, 78);
    border: none;
}

/* MAIN KEYBOARD */
.keyboard{
    width: 50%;
    margin-bottom: 1.75em;
}

.keyboard_rows{
    display: flex;
    width: 100%;
    margin: 0 auto 8px;
    touch-action: manipulation;
}

.keyboard_letters{
    /* font-family: "nyt-franklin"; */
    font-size: 1.25em;
    font-weight: bold;
    border: 0;
    padding: 0;
    margin: 0 6px 0 0;
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    background-color: rgb(181, 181, 181);
    color: white;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

}

.keyboard_letters_hover:hover{
    background-color: #cacaca;
}

.keyboard_letters_wrongLetter{
    background-color: rgb(58, 58, 60);
}

.keyboard_letters_wrongPlace{
    background-color: rgb(181, 159, 59);
}

.keyboard_letters_correctPlace{
    background-color: rgb(83, 141, 78);
}

button[data-key="enter"]{
    flex: 1.5;
    font-size: 12px;
}
button[data-key="delete"] img{
    height: 20px;
    width: 20px;
    filter: invert();
}

/* MAIN HELP */
.info {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.info-content {
    background-color: black;
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: .75em;
    width: 35%;
    color: white;
}

.info-content h1{
    text-align: center;
    font-size: 1.65em;
    margin-bottom: 1em;
}

.info-content li{
    font-size: 1em;
    margin-bottom: .75em;
    list-style-type: decimal;
    margin-left: 1em;
    padding-left: .5em;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #ccc;
    text-decoration: none;
    cursor: pointer;
}

#endGame .info-content #playAgain{
    margin-top: 1em;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
